

.search-page {
  display: flex;
  justify-content: center;
}

.search-left {
  width: 20%;
}

.search-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.results {
  width: 33%;
  border: 1px solid black;
}


